{% extends 'mainapp/base.html' %}

{% block content %}
    <div class="CRUD-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal">CRUD</h1>
      <p class="fs-5 text-muted">An example how to do a CRUD in DJANGO.</p>
    </div>
  </header>
{% if messages %}
    {% for message in messages %}
      <div class="alert alert-{{ message.tags }}" role="alert">
      {{ message }}
      </div>
    {% endfor %}
{% endif %}
  <div class="container">
    <div class="row text-center">
      <h1>Class Based Views</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-4 mb-3 text-center">
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal"><b>C</b>reate</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>{{ names }} name{{ names|pluralize }} in database</li>
            </ul>
            <a href="{% url 'mainapp:create' %}" type="button" class="w-100 btn btn-lg btn-outline-primary">Create data</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm">
          <div class="card-header py-3">
            <h4 class="my-0 fw-normal"><b>R</b>ead</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>See all registers</li>
            </ul>
            <a href="{% url 'mainapp:read' %}" type="button" class="w-100 btn btn-lg btn-primary">Read data</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-primary">
          <div class="card-header py-3 text-white bg-primary border-primary">
            <h4 class="my-0 fw-normal"><b>U</b>pdate</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Click in <b>Edit</b> to update</li>
            </ul>
            <a href="{% url 'mainapp:read' %}" type="button" class="w-100 btn btn-lg btn-primary">Update data</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mb-4 rounded-3 shadow-sm border-danger">
          <div class="card-header py-3 text-white bg-danger border-danger">
            <h4 class="my-0 fw-normal"><b>D</b>elete</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
              <li>Click in <b>Delete</b> to remove</li>
            </ul>
            <button type="button" class="w-100 btn btn-lg btn-danger">Delete data</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  {% endblock %}
